.reveal .source {
  text-align: right;
  font-size: 80%;
  margin-right: 10%;
  font-style: italic;
}
.good{
  color: #468847;
}

.bad{
  color: #b94a48 ;
}

.pink .reveal .state-background {
  background: rgba( 255, 173, 206, 0.6 );
}
