= wrap_layout :layout do
  %header{cover}
    %nav{class: cover? ? 'overlay' : nil}
      - if blog_settings.logo.present?
        %a.blog-logo{href: home_path}
          = image_tag blog_settings.logo, alt: blog_settings.name
      - if blog_settings.navigation
        %a.menu-button.icon-menu{href: '#'}
          %span.word Menu

  %main{role: :main}
    %article
      %header
        %h1= current_page.data.title
      %section= yield
