!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag :reveal
    = favicon_tag 'images/iconemain.png'
    %link#theme{:href => "/stylesheets/theme/#{theme(current_article)}.css", :rel => "stylesheet"}/
  %body
    %p
      
      
      / For syntax highlighting
      %link{:href => "/stylesheets/vendor/zenburn.css", :rel => "stylesheet"}/
      /[if lt IE 9]
        <script src="/javascripts/vendor/html5shiv.js"></script>
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        =yield
    = javascript_include_tag :presentation
    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: '/javascripts/vendor/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/javascripts/vendor/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/javascripts/vendor/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/javascripts/vendor/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/javascripts/vendor/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/javascripts/vendor/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
          // { src: '/javascripts/vendor/search/search.js', async: true, condition: function() { return !!document.body.classList; } },
          //{ src: '/javascripts/vendor/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41400444-1', 'auto');
      ga('send', 'pageview');