%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ post-pub
%ins.adsbygoogle{"data-ad-client" => "ca-pub-5638966621443175", "data-ad-format" => "auto", "data-ad-slot" => "7475184446", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});