<div class="pager">
<!-- Pagination links -->

  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="button previous" href="/">Previous</a>
      {% else %}
        <a class="button previous" href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
  {% endif %}
  <div class="pages">
      {% if paginator.page == 1 %}
        <a href="#" class="active">1</a>
      {% else %}
        <a href="/">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <a href="#" class="active">{{ count }}</a>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
    {% endfor %}
  </div>

  {% if paginator.next_page %}
      <a class="button next" href="{{ paginator.next_page_path }}">Next</a>
  {% endif %}
</div>