---
layout: presentation
title:  "Kill the Holy server"
date:   2013-07-05 12:40:46
categories: slide
theme: moon
language: en
published: false
---

%section
  %h1 Kill the Holy server
  %h3 Or how to build a server on demand
  %p
    %small
      Created by
      %a{:href => "http://fabbook.fr"} Fabien Garcia
%section
  %section
    %h1 How you build a server?
  %section
    %h2 You install each package
    %code.bash
      sudo apt-get install mysql php5
    %h2 And you do it each time you need a server
  %section
    %h1 Who get knowledge of how to configure your server?
  %section
    %h1 The sysadmin know's
    %h2 so
    %h1 sysadmin = God
  %section
    %h2 How you create a server?
    %h1 You wait ...
  %section
    %h2 Your server get destroyed
    %h1 You are screwed
  %section
    %h2 The sysadmin disapear because of alien
    %h1 You are screwed
  %section
    %h1 So how we change it?
%section
  %section
    %h1 Why not hire a monkey?
    %img{:height => "250px", :src => "/img/face-monkey.svg"}
  %section{"data-state" => "alert"}
    %h1 There is no monkey with sysadmin skill!
    %h2 Let's be realitic for god seak!
%section
  %section
    %h1 Let's hire a robot!
    %img{:src => "/img/bender.png"}
  %section
    %h1 Chef
    %h2 You can program the provisioning of any server
  %section{"data-state" => "soothe"}
    %h1 Advantages
    %ul
      %li Your architecture is documented
      %li You can create a server when you want
      %li You can scale
      %li No island knowledge
      %li You can use short-cuts to configure server