---
pageable: true
---

%header.main-header
  %nav.main-nav.overlay.clearfix
  .vertical
    .main-header-content.inner
      %h1.page-title
        %a{href: home_path}
      %h2.page-description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial(:page_articles,
            locals: { page_articles: page_articles, paginate: paginate })
